@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Prima mea aplicatie Dot Net Core</h1>
    <p>Learn about <a href="https://github.com/caramandvd/Caraman_David_Lab1.git">GitHub Repository</a>.</p>
</div>

